.signup{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.signup input{
    padding: 5px;
    margin: 15px;
    border-radius: 10px;
    width: max-content;
}

.signup label{
    font-size: 18px;
}

.signup-container{
    /* margin-top: 220px; */
    width: 500px;
    /* margin-left: 670px; */
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 14px;
    color: white;
    border-color: white;
    background-color: black;
}

.submit-button{
    height: 40px; 
    margin: 12px;
    width: 105px;
    color: white;
    background-color: black;
    border-color: white;
    border-radius: 10px;
    font-size: 15px;
}